.intro-screen-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  transform: translateY(40px);
  transition: opacity 3s ease, transform 3s ease;
}

.intro-screen-wrapper.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.cake-image {
  position: absolute;
  top: 40vh;
  width: 30vw;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.cake-image:hover {
  transform: scale(1.05);
}

#deco {
  width: 16vw;
  height: auto;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  25% {
    transform: translateY(-8px) rotate(-3deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  75% {
    transform: translateY(8px) rotate(3deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.pandj-image {
  position: absolute;
  left: 2vw;
  top: 45vh;
}

.eevee-image {
  position: absolute;
  right: 3vw;
  top: 30vh;
}

.jungwon-image {
  position: absolute;
  right: 10vw;
  top: 60vh;
}

.smiski-image {
  position: absolute;
  left: 5vw;
  top: 65vh;
}

.kageyama-image {
  position: absolute;
  left: 3vw;
  top: 18vh;
}

.sanrio-image {
  position: absolute;
  left: 22vw;
  top: 35vh;
}

.labubu-image {
  position: absolute;
  left: 20vw;
  top: 67vh;
}

.sukuna-image {
  position: absolute;
  left: 60vw;
  top: 30vh;
}

.next-image {
  position: absolute;
  left: 40vw;
  top: 78vh;
  width: 16vw;
  height: auto;
}

.next-image:hover {
  cursor: pointer;
}

.hbd-text {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-size: 8vw;
  position: absolute;
  top: -5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hbd-subtext {
  display: block;
  font-family: "Edu NSW ACT Cursive", cursive;
  font-size: 2vw;
  height: 1vh;
}